<div class="justify-content-center">
  <div class="row">
    <div class="col">
      <jhi-ng-dynamic-breadcrumb [fontSize]="'18px'" [fontColor]="'#533F03'"
                                 [lastLinkColor]="'#000'"
                                 [symbol]="'/'"></jhi-ng-dynamic-breadcrumb>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>
        <span jhiTranslate="tagManagement.details.title">Tag</span>
      </h2>

      @if (tag) {
        <div>
          <dl class="row-md jh-entity-details">
            <dt><span>Id</span></dt>
            <dd>{{ tag.id }}</dd>

            <dt><span jhiTranslate="tagManagement.tableOptions.name">Name</span></dt>
            <dd>{{ tag.name }}</dd>

            <dt><span jhiTranslate="tagManagement.tableOptions.tagEntries">Entries</span></dt>
            <dd>{{ tag.entries }}</dd>
          </dl>
        </div>
      }
    </div>
  </div>
</div>
