<div class="justify-content-center">

  <div class="row">
    <div class="col">
      <jhi-ng-dynamic-breadcrumb [fontSize]="'18px'" [fontColor]="'#533F03'" [lastLinkColor]="'#000'"
                                 [symbol]="'/'"></jhi-ng-dynamic-breadcrumb>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form name="editForm" role="form" (ngSubmit)="save()" [formGroup]="editForm">
        <h2 jhiTranslate="blogManagement.home.createOrEditLabel">Create or edit blog</h2>

        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" [hidden]="!editForm.value.id">
          <label>ID</label>
          <input type="text" class="form-control" name="id" formControlName="id" readonly />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="blogManagement.tableOptions.name">Name</label>
          <input type="text" class="form-control" name="name" formControlName="name" />

          @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.maxlength) {
                <small class="form-text text-danger" translateValues="{ max: 40 }"
                ><span
                  jhiTranslate="blogManagemet.errorLengthMessage">Acest câmp nu poate fi mai lung de 20 caractere.</span>
                </small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label jhiTranslate="blogManagement.tableOptions.handle">Handle</label>
          <input type="text" class="form-control" name="handle" formControlName="handle" />
        </div>

        <div class="mb-3">
          <!--        <label>User</label>-->
          <input type="hidden" class="form-control" name="user" [ngModel]="userValue" readonly formControlName="user"
                 [value]="userValue.login" />
        </div>


        <button type="button" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span
          jhiTranslate="blogManagement.tableOptions.cancelButton">Anulare</span>
        </button>

        <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span
          jhiTranslate="blogManagement.tableOptions.saveButton">Salvare</span>
        </button>
      </form>
    </div>
  </div>
</div>
