<div>

  <jhi-ng-dynamic-breadcrumb [fontSize]="'18px'" [fontColor]="'#533F03'" [lastLinkColor]="'#000'"
                             [symbol]="'/'"></jhi-ng-dynamic-breadcrumb>

  <h2>
    <span id="tag-management-page-heading" jhiTranslate="blogManagement.home.title">Blogs</span>
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="blogManagement.home.refreshListLabel">Refresh list</span>
      </button>
      <button class="btn btn-primary jh-create-entity" [routerLink]="['./new']">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blogManagement.home.createLabel">Create new blog</span>
      </button>
      <label for="itemsPerPageSelect" jhiTranslate="blogManagement.home.paginationOptions">Items per page:</label>
      <select id="itemsPerPageSelect" (change)="updatePageSize()" [ngModel]="itemsPerPage">
        <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>

  @if (blogs) {
    <div class="table-responsive">
      <table class="table table-striped" aria-describedby="tag-management-page-heading">
        <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">
          <th scope="col" jhiSortBy="name"><span jhiTranslate="blogManagement.tableOptions.name">Name</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="blogManagement.tableOptions.handle">Handle</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="blogManagement.tableOptions.user">User</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
        </thead>

        @if (blogs) {
          <tbody>
            @for (blog of blogs; track trackIdentity) {
              <tr>
                <td>
                  <a [routerLink]="['./',blog.id, 'view']">{{ blog.name }}</a>
                </td>
                <td>{{ blog.handle }}</td>
                <td>{{ blog.user?.login }}</td>
                <td class="text-end">
                  <li
                    ngbDropdown
                    display="dynamic"
                  >
                    <a ngbDropdownToggle class="aSimple">
                      ...
                    </a>
                    <div>
                      <ul ngbDropdownMenu>
                        <li>
                          <button
                            type="submit"
                            [routerLink]="['./', blog.id, 'edit']"
                            queryParamsHandling="merge"
                            class="btn btn-primary btn-sm dropdown-item"
                          >
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline"
                                  jhiTranslate="blogManagement.tableOptions.editButton">Edit</span>
                          </button>
                        </li>
                        <li>
                          <button
                            type="button"
                            (click)="deleteBlog(blog)"
                            class="btn btn-danger btn-sm dropdown-item"
                          >
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline"
                                  jhiTranslate="blogManagement.tableOptions.deleteButton">Delete</span>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </li>
                </td>
              </tr>
            }
          </tbody>
        }
      </table>
    </div>
  }

  @if (blogs) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{page: page, totalItems: totalItems, itemsPerPage: itemsPerPage}"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="transition()"
        >
        </ngb-pagination>
      </div>
    </div>
  }

</div>
